nav {
  background-color: #47546e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  min-height: 10vh;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
